body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(43, 1, 56);
}

h1{
    font-size: 15 rem;
    font-family: fantasy;
}


.letter{
    transition: color 1000ms;
}